body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.up  {
    height: 50px;
    width: 100%;
    background-color: gray;
    margin: 1px 1px;
}

.left > div{
    height: 800px;
    width: 935px;
    background-color: gray;
    margin: 1px 1px;
}

.right > div {
    height: 800px;
    width: 935px;
    background-color: gray;
    margin: 1px 1px;
}

.down {
    height: 50px;
    width: 100%;
    background-color: gray;
    margin: 1px 1px;
}

nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
